<!DOCTYPE html>

<html lang="en">
    <head><script src="../static/color-modes.js"></script>
		<!-- Setting up the sizez, references, stylesheets and bootstraps -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jeremy Roy">
		<link href="/static/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<link href="../static/bootstrap.min.css" rel="stylesheet">
		<title>Event4You! {% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<div class="container">
				<a href="/profile" class="navbar-brand d-flex align-items-center">
					<button class="btn btn-primary my-2">
						<strong>My Profile</strong>
					</button>
				</a>
			</div>
		</header>
		<h1>Wow look, a webpage</h1>
		<div>
			And some more text
		</div>
	</body>
</html>