<!DOCTYPE html>

<html lang="en">
    <head><script src="../static/color-modes.js"></script>
		<!-- Setting up the sizez, references, stylesheets and bootstraps -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jeremy Roy">
		<link href="/static/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
		<link href="../static/bootstrap.min.css" rel="stylesheet">
		<title>Event4You! {% block title %}{% endblock %}</title>
	</head>
	<body class="px-5">
		<header>
			<div class="container navbar navbar-dark bg-dark shadow-sm d-flex justify-content-between">
				{% if session.username %}
				<a href="/profile" class="navbar-brand d-flex align-items-center">
					<button class="btn btn-primary my-2">
						<strong>My Profile</strong>
					</button>
				</a>
					{% if eventSigned %}
					<a href="/schedule" class="navbar-brand d-flex align-items-center">
						<button class="btn btn-primary my-2">
							<strong>My Schedule</strong>
						</button>
					</a>
					<a href="/eventDetails" class="navbar-brand d-flex align-items-center">
						<button class="btn btn-primary my-2">
							<strong>The Event</strong>
						</button>
					</a>
					{% else %}
					<a href="/eventDetails" class="navbar-brand d-flex align-items-center">
						<button class="btn btn-primary my-2">
							<strong>The Event</strong>
						</button>
					</a>
				{% else %}
				<a href="/login" class="navbar-brand d-flex align-items-center">
					<button class="btn btn-primary my-2">
						<strong>Login</strong>
					</button>
				</a>
				<a href="/signup" class="navbar-brand d-flex align-items-center">
					<button class="btn btn-primary my-2">
						<strong>Login</strong>
					</button>
				</a>
				{% endif %}
				<a href="/help" class="navbar-brand d-flex align-items-center">
					<button class="btn btn-primary my-2">
						<strong>Help</strong>
					</button>
				</a>
			</div>
		</header>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer style="font-size:small; color:#777; text-align: center">
			<p>Created by Jeremy Roy.</p>
			<p>Created using Python 3.8.3, HTML, CSS and Flask.</p>
		</footer>
	</body>
</html>