<html>
<body>
<table border="0" cellpadding="0" cellspacing="0" id="001" style="width:100%;background-color:#333333;">
	<tbody>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" id="002" style="width:1000px">
				<tbody>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="5" cellspacing="5" id="003" style="background-color:rgb(51, 204, 255);width:1000px;">
							<tbody>
								<tr>
									<td>
									<p style="text-align: left;"><strong><span style="font-size:24px"><span style="font-family:Tahoma,Geneva,sans-serif">Conference Scheduler</span></span></strong></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="left" border="0" cellpadding="1" cellspacing="1" id="004" style="height:80px; width:100%">
							<tbody>
								<tr>
									<td style="height:50px; text-align:left; width:50%"><span style="color:#FFFFFF;"><strong><span style="font-size:48px"><span style="font-family:Tahoma,Geneva,sans-serif">My Profile</span></span></strong></span></td>
									<td style="height:50px; width:50%">
									<table align="left" border="0" cellpadding="1" cellspacing="1" id="006" style="width:100%">
										<tbody>
											<tr>
												<td style="text-align:right"><span style="font-size:16px;"><span style="color:#FFFFFF;"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Account Name</strong></span></span></span></td>
												<td style="text-align:left"><span style="font-size:16px;"><span style="color:#FFFFFF;"><span style="font-family:Tahoma,Geneva,sans-serif">&lt;Account Name&gt;</span></span></span></td>
											</tr>
											<tr>
												<td style="text-align:right"><span style="font-size:16px;"><span style="color:#FFFFFF;"><span style="font-family:Tahoma,Geneva,sans-serif"><strong>Type</strong></span></span></span></td>
												<td style="text-align:left"><span style="font-size:16px;"><span style="color:#FFFFFF;"><span style="font-family:Tahoma,Geneva,sans-serif">&lt;Type&gt;</span></span></span></td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>
									</td>
								</tr>
							</tbody>
						</table>

						<p>&nbsp;</p>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="1" cellspacing="1" id="007" style="height:50px; width:100%">
							<tbody>
								<tr>
									<td style="height:50px; width:33%"><span style="color:#FFFFFF;"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">My Next Conference</span></span></strong></span></td>
									<td style="height:50px; width:33%"><span style="color:#FFFFFF;"><strong><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif"><input name="View My Conferences" type="button" value="View My Conferences" /></span></span></strong></span></td>
									<td style="height:50px; width:33%"><span style="color:#FFFFFF;"><span style="font-size:20px"><span style="font-family:Tahoma,Geneva,sans-serif">Date:&lt;Today&#39;s date&gt;</span></span></span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>
						<table align="center" border="0" cellpadding="1" cellspacing="1" id="008" style="width:100%;">
							<tbody>
								<tr>
									<td style="width: 33%; vertical-align: top; background-color: rgb(51, 204, 255);">
									<table align="left" border="0" cellpadding="4" cellspacing="2" id="013" style="width:100%;">
										<tbody>
											<tr>
												<td><span style="font-size:28px;"><strong><span style="font-family:lucida sans unicode,lucida grande,sans-serif;">Some STEM Conference 2024</span></strong></span></td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>

									<table align="left" border="0" cellpadding="1" cellspacing="1" id="010" style="width:100%;background-color:#33ccff;">
										<tbody>
											<tr>
												<td style="text-align: left;"><span style="color:#FFFFFF;"><strong><span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Sign Up Deadline: &lt;date&gt;</span></span></strong></span></td>
											</tr>
											<tr>
												<td style="text-align: left;"><span style="color:#FFFFFF;"><strong><span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Conference Start Date: &lt;date&gt;</span></span></strong></span></td>
											</tr>
											<tr>
												<td style="text-align: left;"><span style="color:#FFFFFF;"><strong><span style="font-size:16px;"><span style="font-family:tahoma,geneva,sans-serif;">Conference End Date: &lt;date&gt;</span></span></strong></span></td>
											</tr>
											<tr>
												<td>&nbsp;</td>
											</tr>
											<tr>
												<td><input name="Preview Talks" type="button" value="Preview Talks" />&nbsp; &nbsp; &nbsp; &nbsp;<input name="Cancel Registration" type="button" value="Cancel Registration" /></td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>

									<p>&nbsp;</p>

									<p>&nbsp;</p>
									</td>
									<td style="width:66%">
									<table align="left" border="0" cellpadding="4" cellspacing="2" id="012" style="height:50px;width:100%;">
										<tbody>
											<tr>
												<td><span style="color:#33ccff;"><span style="font-size:18px;"><strong><em><span style="font-family:tahoma,geneva,sans-serif;">My Recommended Schedule:</span></em></strong></span></span></td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>

									<table align="left" border="1" cellpadding="4" cellspacing="2" id="011" style="width:100%;background-color:#ffffff;">
										<thead>
											<tr>
												<th scope="col" style="text-align:left; width:50%"><span style="font-family:tahoma,geneva,sans-serif;">Day</span></th>
												<th scope="col" style="text-align:left; width:50%"><span style="font-family:tahoma,geneva,sans-serif;">Talk</span></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Session 1 (Morning) Part 1</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Session 1 Part 1Title&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Break</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Break Time&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Session 1 (Morning) Part 2</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Session 1 Part 2 Title&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Lunch Break</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Break Time&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Session 2 (Afternoon)</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">No talk scheduled</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Session 3 (Evening) Part 1</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Session 3 Part 1 Title&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Break</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Break Time&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">Session 3 (Evening) Part 2</span></td>
												<td style="text-align:left"><span style="font-family:tahoma,geneva,sans-serif;">&lt;Session 3 Part 2 Title&gt;</span></td>
											</tr>
											<tr>
												<td style="text-align:left">&nbsp;</td>
												<td style="text-align:left">&nbsp;</td>
											</tr>
										</tbody>
									</table>

									<p>&nbsp;</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
	</tbody>
</table>
</body>
</html>
