{% extends "layout.html" %}

{% block title %}
    Finder
{% endblock %}

{% block aboveNav %}
<div class="container" style="text-align: center; font-weight: bolder;">
	<h1 class="text-center">
		Find a Conference
	</h1>
</div>
{% endblock %}

{% block main %}
<div class="textFormContainer">
    <form action="/find-conference" method="POST">
        <div class="form-group" >
            <label id="field" for="conferenceSearch"><h3>Find a Conference: </h3></label>
            <input autocomplete="on" autofocus class="form-control" name="conferenceSearch" placeholder="Search here..." type="text">
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit" id="submit">Search</button>
    </form>
</div>
{% if confFound %}
    <div class="textFormContainer">
        <h3>Conferences Found!</h3>
        <table class="table table-striped sortable" id="sortTable">
            <thead>
                <td>
                    Conference Name
                </td>
                <td>
                    Register Deadline
                </td>
                <td>
                    Paper Review Deadline
                </td>
                <td>
                    Start Date
                </td>
                <td>
                    End Date
                </td>
                <td>
                    Register Here!
                </td>
            </thead>
            {% for conference in confFound %}
            <tr>
                <td>
                    {{ conference['confName'] }}
                </td>
                <td>
                    {{ conference['delegSignUpDeadline'] }}
                </td>
                <td>
                    {{ conference['paperFinalisationDate'] }}
                </td>
                <td>
                    {{ conference['confStart'] }}
                </td>
                <td>
                    {{ conference['confEnd'] }}
                </td>
                <td>
                    <!-- Register Button -->
                    <form id="registration-form" method="POST" action="{{ url_for('views.registerConference') }}">
                        <input type="hidden" name="conferenceId" value="{{ conference['confId'] }}">
                        <button class="btn btn-success" type="submit">Register</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="color: yellow;">
                    {{ conference['confURL'] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
{% endblock %}