{% extends "layout.html" %}

{% block title %}
	{% if user.is_authenticated %}
		My Dashboard
	{% else %}
		Home
	{% endif %}
{% endblock %}

{% block aboveNav %}
<div class="container" style="text-align: center; font-weight: bolder;">
	<h1 class="text-center">
		{% if user.is_authenticated %}
		My Profile
		{% else %}
		Schedule Optimiser
		{% endif %}
	</h1>
</div>
{% endblock %}

<!-- INHERIT FROM DAD'S CODE -->

{% block main %}
<br>
<div>
	{% if user.is_authenticated %}
		{% if ConferenceData %}
		<div>
			<h3>
			<p style="text-align: right; font-style: italic; font-weight: bold; font-size: medium;">
				Username: {{ userData.username }}
				<br>
				Account type: {{ userData.type.capitalize() }}
			</p>
			</h3>
			<br>
			<table style="width:100%;">
				<tr style="text-align: center; font-weight: bold;">
					<td>
						My Upcoming Conference:
						<br><h2>{{ ConferenceData["confName"] }}</h2>
					</td>
					<td>
						{% if userData.type == 'host' %}
							<button style="text-align: center;" class="btn btn-primary" href="/edit-conference">Edit Conference</button>
						{% else %}
							<a href="/preview-talks/{{ ConferenceData['confId'] }}"><button style="text-align: center;" class="btn btn-primary">Select Talks</button></a>
						{% endif %}
					</td>
					<td>
						Start Date: <br><h3>{{ ConferenceData["confStart"].strftime('%d-%m-%Y') }}</h3>
					</td>
				</tr>
			</table>
		</div>
		<br><br>
		<div>
			<!-- A table in the left half of another table (of 1 row and 2 columns) -->
			<!-- The other half of the 'super' table holds the schedule of the user -->
			<table style="width:100%;">
				<tr>
					<td>
						<!-- Conference information and buttons -->
						<table style="width:50%; align-self: center; align-items: center;" cellpadding="5" cellspacing="4">
							<tr>
								<td>
									Sign Up Deadline: {{ ConferenceData["delegSignUpDeadline"].strftime('%d-%m-%Y') }}
								</td>
							</tr>
							<br>
							<tr style="font-weight: bold;">
								<td>
									→ Start Date: {{ ConferenceData["confStart"].strftime('%d-%m-%Y') }}
								</td>
							</tr>
							<br>
							<tr style="font-weight: bold;">	
								<td>
									→ End Date: {{ ConferenceData["confEnd"].strftime('%d-%m-%Y') }}
								</td>
							</tr>
							<tr>
								<td>
									{% if userData.type == 'host' %}
										<button style="text-align: center;" class="btn btn-danger" href="/terminate-conference/{{ ConferenceData['confId'] }}">Terminate Conference</button>
									{% else %}
										<button style="text-align: center;" class="btn btn-danger" href="/cancel-registration/{{ ConferenceData['confId'] }}">Cancel Registration</button>
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
					<td>
						<!-- Conference schedule for the day AT THE MOMENT only for HOST-->
						{% if schedule and userData.type.capitalize() == "Host" %}
						<td>
							<h3 style="font-weight: bold;">
								Schedule of Talks
							</h3>
							<table class="schedule" style="color:#33ccff;" border="3" cellpadding="8" cellspacing="5">
								<thead>
									<td>
										<p style="font-weight:bold;">
											Time
										</p>
									</td>
									<td>
										<p style="font-weight:bold;">
											Talk Name
										</p>
									</td>
									<td>
										<p style="font-weight:bold;">
											Speaker
										</p>
									</td>
								</thead>
							{% for record in schedule %}
								<tr>
									<td>
										{{ record[0] }}
									</td>
									<td>
										{{ record[1][0] }}
									</td>
									<td>
										{{ record[1][1] }}
									</td>
								</tr>
							{% endfor %}
							</table>
						</td>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
		{% else %}
			{% if userData.type.capitalize() == "Delegate" %}
				<p style="text-align: center;">Find a Conference <a style="font-weight: bold;" href="/find-conference">Here</a> to get started.</p>
			{% else %}
				<p style="text-align: center;">Maybe you want to create a conference? Click <a style="font-weight: bold;" href="/create-conference-1">Here</a> to get started.</p>
			{% endif %}
		{% endif %}
	{% else %}
		<p style="text-align: center;">Please login to our system <a style="font-weight: bold;" href="/login">Here</a> to get started.</p>
	{% endif %}
</div>
{% endblock %}