{% extends "layout.html" %}

{% block title %}
	{% if session.username %}
		My Dashboard
	{% else %}
		Home
	{% endif %}
{% endblock %}

{% block main %}
{% if session.username %}

	<div class="container" style="text-align: center; font-weight: bolder;">
		<h1 class="text-center">My Profile</h1>
	</div>
	<div>
		And some more text
	</div>
{% else %}
<div class="container" style="text-align: center; font-weight: bolder;">
	<h1 class="text-center">Schedule Optimiser</h1>
</div>
<br><br><br>
<div style="text-align: center;">
	<p>Please login to our system <a style="font-weight: bold;" href="/login">Here</a> to get started.</p>
</div>
<br><br><br>
{% endif %}
{% endblock %}