{% extends "layout.html" %}

{% block title %}
	{% if user.is_authenticated %}
		My Dashboard
	{% else %}
		Home
	{% endif %}
{% endblock %}

{% block aboveNav %}
<div class="container" style="text-align: center; font-weight: bolder;">
	<h1 class="text-center">
		{% if user.is_authenticated %}
		My Profile
		{% else %}
		Schedule Optimiser
		{% endif %}
	</h1>
</div>
{% endblock %}

<!-- INHERIT FROM DAD'S CODE -->

{% block main %}
<br>
<div>
	{% if user.is_authenticated %}
		{% if ConferenceData %}
		<div>
			<h3>
			<p style="text-align: right; font-style: italic; font-weight: bold; font-size: medium;">
				Username: {{ userData.username }}
				<br>
				Account type: {{ userData.type.capitalize() }}
			</p>
			</h3>
			<br>
			<table style="width:100%;">
				<tr style="text-align: center; font-weight: bold;">
					<td>
						My Upcoming Conference:
						<br><h2>{{ ConferenceData["name"] }}</h2>
					</td>
					<td>
						<button style="text-align: center;" class="btn btn-primary" href="/user-conferences">See My Conferences</button>
					</td>
					<td>
						Date: <br><h3>{{ currentDate }}</h3>
					</td>
				</tr>
			</table>
		</div>
		<div>
			<!-- A table in the left half of another table (of 1 row and 2 columns) -->
			<!-- The other half of the 'super' table holds the schedule of the user -->
			<table style="width:100%;">
				<tr>
					<td>
						<!-- Conference information and buttons -->
						<table style="width:50%; align-self: center; align-items: center;">
							<tr>
								<td>
									Sign Up Deadline: {{ ConferenceData["signUpDeadline"] }}
								</td>
							</tr>
							<br>
							<tr style="font-weight: bold;">
								<td>
									Start Date: {{ ConferenceData["startDate"] }}
								</td>
							</tr>
							<br>
							<tr style="font-weight: bold;">	
								<td>
									End Date: {{ ConferenceData["endDate"] }}
								</td>
							</tr>
							<tr>
								<td>
									<button style="text-align: center;" class="btn btn-primary" href="/conference-talks">Preview Talks</button>
									<button style="text-align: center;" class="btn btn-danger" href="/cancel-registration">Cancel Registration</button>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<!-- Conference schedule for the day -->
					</td>
				</tr>
			</table>
		</div>
		{% else %}
		<p style="text-align: center;">Find a Conference <a style="font-weight: bold;" href="/login">Here</a> to get started.</p>
		{% endif %}
	{% else %}
		<p style="text-align: center;">Please login to our system <a style="font-weight: bold;" href="/login">Here</a> to get started.</p>
	{% endif %}
</div>
{% endblock %}