<!DOCTYPE html>

<html lang="en">
    <head><script src="../static/color-modes.js"></script>
		<!-- Setting up the sizez, references, stylesheets and bootstraps -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Jeremy Roy">
		<link href="/static/style.css" rel="stylesheet">
		<!-- Perhaps re-enable these later-->
		<!-- link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"-->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			crossorigin="anonymous"
		/>
		<link href="../static/bootstrap.min.css" rel="stylesheet"/>
		<title>ConfWebApp!: {% block title %}Home{% endblock %}</title>
	</head>
	<body class="px-5">
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<div class="navbar-nav">
					{% if session.username %}
						<a class="nav-item nav-link" id="Home" href="/">Home</a>
						{% if conferenceSigned %}
							<a class="nav-item nav-link" id="GoToNextConference" href="{{ conferenceURL }}">{{ conferenceName }}</a>
						{% else %}
							<a class="nav-item nav-link" id="FindConf" href="/find-conference">Find a Conference</a>
						{% endif %}
						<a class="nav-item nav-link" id="logout" href="/logout">Log Out</a>
					{% else %}
						<a class="nav-item nav-link" id="login" href="/login">Login</a>
						<a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
					{% endif %}
					</div>
				</div>
			</nav>
		</header>
		<main>
			<!-- Flashed messages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						{% if category == 'error' %}
						<div class="alert alert-danger alter-dismissable fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% else %}
						<div class="alert alert-success alter-dismissable fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endwith %}
			<!-- Everything else-->
			<div class="container">
				<a class="nav-item nav-link" id="Home" href="/"><h2>Conference Scheduler</h2></a>
				<br>
				{% block main %}{% endblock %}
			</div>
		</main>
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous">
		</script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous">
		</script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous">
		</script>
		<footer style="font-size:small; color:#777; text-align: center">
			<p>Created by Jeremy Roy.</p>
			<p>Created using Python 3.8.8, HTML, CSS, SQLite3 and Flask.</p>
		</footer>
	</body>
</html>