{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<h1>Log In</h1>
<p></p>
<div class="textFormContainer">
    <form action="/login" method="post">
        <div class="form-group" >
            <label id="field" for="username">Enter Username: </label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username:" type="text">
        </div>
        <p></p>
        <div class="form-group">
            <label id="field" for="password">Enter Password: </label>
            <input class="form-control" name="password" placeholder="Password:" type="password">
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit" id="submit">Log In</button>
    </form>
</div>
{% endblock %}