{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block aboveNav %}
<div class="container" style="text-align: center; font-weight: bolder;">
	<h1 class="text-center">
		Login
	</h1>
</div>
{% endblock %}

{% block main %}
<p></p>
<div class="textFormContainer">
    <form action="/login" method="POST">
        <div class="form-group" >
            <label id="field" for="username">Enter Username: </label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username:" type="text">
        </div>
        <p></p>
        <div class="form-group">
            <label id="field" for="password">Enter Password: </label>
            <input class="form-control" name="password" placeholder="Password:" type="password">
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit" id="submit">Log In</button>
    </form>
    <br>
    <form action="/forgot-password-1" method="GET">
        <button class="btn btn-danger" type="submit" id="forgot">Forgot Password?</button>
    </form>
</div>
{% endblock %}