{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h1>Sign Up</h1>
<p></p>
<div class="textFormContainer">
    <div class="form-container">
    <form action="/signup" method="post">
        <div class="form-group">
            <div class="form-column">
                <label for="username">Enter Username: </label>
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <p></p>
                <label for="password">Enter Password: </label>
                <input class="form-control" name="password" placeholder="Password" type="password">
            <p></p>
                <label for="confirmation">Confirm Password: </label>
                <input class="form-control" name="confirmation" placeholder="Password (Again)" type="password">
            </div>
        
            <div class="form-column">
            
            </div>
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    </div>
</div>
{% endblock %}
