h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-weight:900;
    background-color: #349bdb;
    padding: 15px;
    border-radius: 8px;
}
#field {
  text-align: center;
  font-weight: bold;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textFormContainer {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin: 125px;
}

#labelled {
  text-align: center;
  font-size: 12px;
  color: #bcbcbc;
}

#submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0;
}